*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

 header{
	background-image: url("/images/bg.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style: none;
	margin-top: 25px;
	margin-right: 15px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 8px 30px;
	border: 1px solid transparent;
	transition: 0.3s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
 ul li.active a{
 	background-color: #fff;
	color: #000;
 }

.logo img{
	float: left;
	width: 150px;
	height: auto;
}
 .main{
 	max-height: 1200px;
 	margin: auto;
 }

 .title{
 	color: #fff;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 }

 .title h1{
 	font-size: 60px;
 }

 .title {
  background: transparent;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.title h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}